<div class="container my-4 p-4 bg bg-info">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="bg-warning text-capitalize p-2">component creating using class Selector in componenet decorator</h1>
            <!-- (not that much in use.just remeber for knowlegde point of view) -->
            <div class="para">
                <p> custome HTML element is created by using class selector <strong>selector:'.app-classSelector'</strong></p>
                <p>I'm {{fName}} {{lName}} from Mumbai.</p>
            </div>
        </div>
    </div>
</div>