.mainList > .list-group-item{
    background-color: rgb(198, 160, 110);
    margin: 0 1.25rem ;
}

.imgDiv{
    width:300px;
   
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}