

<div class="container my-4 p-4 bg bg-danger">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="bg bg-warning p-4 m-4">String interpolation</h1>
            <p class="bg bg-info ">The Product is <strong>{{pName}}</strong> with Id <strong>{{pId}}</strong></p>   <!-- //string interpolation  -->

           <p class="alert alert-info"> as we can access the property using string interploation we can also access the method using string interpolation. means in string interploation we can pass method also.(we are calling function)</p>

            <p class="bg bg-info ">The Product is <strong>{{pName}}</strong> with Id <strong>{{getProductId()}}</strong></p>
        </div>


        <div class="col-sm-12">
            <h1 class="bg bg-warning p-2">Property Binding [] </h1>
            <!-- accesing value from ts -->
            <p [innerHTML]="pName"><strong>accesing value from ts</strong></p>  
            <!-- //innerHTML property binding overriding the text of p tag  with strong tag-->

            <!-- setting by default value  -->
            <p [innerHTML]="'Iphone'">setting by default value</p>
      <!-- //innerHTML property binding overriding the text of p tag  -->

           <p [innerText]="'Redmi'"><strong>setting by default value</strong></p>
             <!-- //innerText property binding overriding the text of p tag with strong tag-->

             <p [textContent]="'vivo'"><strong>setting by default value</strong></p>
             <!-- //innerText property binding overriding the text of p tag with strong tag-->

<p class="alert alert-info">as we can access the property using property binding we can also access the method using property binding.means in property binding we can pass the value of method also.(we are calling function).</p>
            <p class="bg-success p-2 d-inline-block" [innerHTML]="getProductId()"></p>

             <div class="form-group">
                <!-- //IQ >> can we set a by default value to an input without using any data binding  -->
                <!-- yes by usnig value attribute -->
                <input type="text" class="form-control" value='hello'>
</div>
<div class="form-group">
                <!-- //value is coming from ts  -->
                <input type="text" class="form-control" [value]="fName" >
            </div>
            <div class="form-group">
                <!-- //setting by default value  -->
                <input type="text" class="form-control" [value]="'may'" >
               </div>

        

            
            <div class="text-right m-2">

                <!-- <button class="btn btn-info" [disabled]="true">Add Product</button> -->
                <!-- this disabled & enable behavior or functionality should be written in ts.here dont write hard coded true or false  -->

                <button class="btn btn-primary" [disabled]="isDisabled">Add </button>
                <!-- //isDisabled value comes from ts  -->

            </div>
        </div>
    </div>
</div>
