<app-header> </app-header>
<app-list></app-list>
<app-image></app-image>
<app-form></app-form>
<hr>
<hr>

<app-propertyBinding></app-propertyBinding>
<app-eventBinding></app-eventBinding>
<app-TwoWayDataBinding></app-TwoWayDataBinding>
<div class="app-classSelector"></div>  <!-- //using custom html element as an class selector  -->
<div app-directiveSelector></div>  <!-- //using custom html element as an attribute  selector-->
<app-isDisabled></app-isDisabled>
<app-directive></app-directive>
<app-footer></app-footer>




