<div class="container bg bg-primary p-4 my-4">
    <div class="row ">
        <div class="col-sm-12 ">
            <h1 class="bg-warning text-capitalize p-2">component creating using directive(attribute) selector in component decorator</h1>
          <!-- (not that much in use.just remeber for knowlegde point of view.may ask in interview.) -->
            <div class="para">
            <p >custom HTML element is created by using directive(attribute) selector <strong>selector: '[app-directiveSelector]'</strong></p>
            <p >I'm {{fName}} {{lName}} from Pune .</p>
          </div>
        </div>
    </div>
   </div>