<footer class="footerSection py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="icon ">
                    <a href="javascript:;"><span><i class="fa-brands fa-instagram fa-2x " id="id1"></i></span></a>
                    <a href="javascript:;"><span><i class="fa-brands fa-facebook fa-2x mx-4 " id="id2"></i></span></a>
                    <a href="javascript:;"><span><i class="fa-brands fa-whatsapp fa-2x " id="id3"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</footer>
