.footerSection{
    background-color:#000;
}
.icon i{
    background-color:  #e79191;
    color: #fff;
    height:50px;
    width:50px;
    border-radius: 50%;
    padding: 10px;
    margin: 20px;
   line-height: normal;
}
// .icon a{    //B$ class is given in html file

//     color: #000;
// }


#id1{
    background-color:rgb(193, 76, 96);
}


#id2{
    background-color:rgb(57, 75, 163);
}

#id3{
    background-color:rgb(106, 210, 58);
}